#svg_graph {

}

#svg_container {
  float:left;
  height: 40vh;
  width: 35vw;
  margin-top: 15vh;
  border: 1px solid black;
}

#form_container {
  float:right;
  margin-left: 5vw;
  width: 35vw;
  height: 40vh;
}

#comment {
  width:10vw;
}

#maze_svg, #maze_container {
  float:left;
}

#maze_container {
  margin-left: 5vw;
  margin-top: 15vh;
  height: 35vw;
  width: 35vw;
  border: 1px solid black;
}

.container {
  width: 80vw;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.barrier {
    stroke-width: 1;
    stroke: black;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
